html {
    scroll-behavior: auto;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.container-flex {
    display: flex;
}
.container-centered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
/* Global Breadcrumbs */
    .breadcrumb {
        width: 100%;
    }
    .breadcrumb-item {
        padding: 15px 0px 15px 15px;
    }
    .breadcrumb-item a {
        text-decoration: none;
        color: inherit;
    }
    .breadcrumb-item a:hover {
        text-decoration: underline;
        color: inherit;
    }
/* Global page divs */
    .header {
        background-color: rgb(50, 57, 61);
        font-size: 19px;
    }
    .header .nav-item:hover {
        background-color: rgb(73, 84, 92);
        border-radius: 10px;
    }
    .header .dropdown-center a:active {
        background-color: rgb(192, 213, 236);
    }
    .content {
        min-height: 100vh;
        width: 100vw;
    }
    .footer {
        width: 100%;
        height: 50px;
        background-color: rgb(50, 57, 61);
        color: white;
    }
    .footer a {
        color: inherit;
    }
/* Home Page */
    .home_content {
        width: 100vw;
        min-height: 100vh;
    }
    .home_content #home_welcome_card {
        height: 60%;
        width: 50%;
        border-color: rgb(82, 127, 179);
    }
/* Search page */
    .search_content {
        width: 100%;
        min-height: 100vh;
    }
    .search_sidenav {
        background-color: rgb(65, 103, 146);
        width: 15%;
        height: 100vh;
    }
    .search_sidenav #search_name{
        margin: 0 auto;
        width: 80%;
    }
    .search_sidenav #search_slider {
        margin: 0 auto;
        width: 80%;
    }
    .search_sidenav #categorySelect {
        margin: 0 auto;
        width: 80%;
    }
    .search_sidenav .sidenav_item {
        width: 100%;
        min-height: 50px;
        margin: 15px 0 15px 0;
        text-align: center;
        color: white;
        font-size: 18px;
    }
    .search_sidenav .sidenav_item:hover {
        background-color: rgb(82, 127, 179);
    }
    .search_sidenav .sidenav_item nav {
        width: 100%;
        height: 100%;
    }
    .search_sidenav .sidenav_filter {
        width: 100%;
        min-height: 50px;
        margin: 15px 0 15px 0;
        text-align: center;
        color: white;
        font-size: 18px;
    }
    .search_images {
        width: 95%;
        margin: 0 auto;
    }
    .search_images .card .card-footer{
        background-color: inherit;
    }
    .search_images .card img {
        max-height: 500px;
    }
    .search_images .card-img-overlay {
        width: 100%;
        height: 100%;
    }
    .search_images .card a:hover {
        filter: blur(1px);
    }
    #search_image_stats nav {
        margin: 0 auto;
    }
/* ViewImage Page */
    .viewimage_content {
        margin: 0 auto;
        width: 80%;
    }
    .viewimage_content .image_showImage {
        width: 40%;
    }
    .viewimage_content img {
        width: 100%;
    }
    .viewimage_content .card {
        margin: 0 15px 0 15px;
    }
    .viewimage_content .image_info {
        width: 60%;
    }
    .viewimage_content .image_info .card {
        width: 100%;
        height: 100%;
    }
    .viewimage_content .image_info .card input {
        margin: 0 0 10px 0;
    }
    .viewimage_content .image_info .card textarea {
        margin: 0 0 10px 0;
    }
    .viewimage_content .image_info .card select {
        margin: 0 0 15px 0;
    }
    #viewimage_image_stats {
        margin-top: 15px;
    }
    #viewimage_image_stats nav {
        margin: 0 15px 0 0;
    }
    #viewimage_image_stats nav a {
        text-decoration: none;
        color: inherit;
    }
    #viewimage_image_stats #like_btn:hover {
        scale: 1.1;
        color: rgb(82, 127, 179);
    }
    #viewimage_image_stats #dislike_btn:hover {
        scale: 1.1;
        color: rgb(185, 34, 29);
    }
    #viewimage_image_stats #favourite_btn:hover {
        scale: 1.1;
        color: rgb(226, 206, 21);
    }
    .viewimage_content .image_comment_section .card {
        margin-top: 50px;
        width: 100%;
    }
    .viewimage_content .image_comment_section .card-footer {
        background-color: inherit;
    }
    .viewimage_content .image_comment_section .card .image_comment {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid rgb(177, 176, 176);
        border-radius: 15px;
    }
    .viewimage_content .image_comment_section .card .image_comment .comment_delete_btn {
        float: right;
    }
    .viewimage_content .image_comment_section .card .image_comment .comment_delete_btn a {
        color: black;
        text-decoration: none;
    }
    .viewimage_content .image_comment_section .card .image_comment .comment_delete_btn a:hover {
        color: rgb(61, 61, 61);
    }
    .viewimage_content .image_comment_section .card .image_comment .comment_delete_btn ul {
        padding: 10px;
        min-width: 100%;
    }
    .viewimage_content .image_comment_section .card .image_comment_user {
        margin-top: 15px;
    }
    .viewimage_content .image_comment_section .card .image_comment_text {
        margin-top: 15px;
    }
    .viewimage_content .image_comment_section .card .image_comment_date {
        margin-top: 15px;
    }
    .viewimage_content .image_comment_section .card button {
        margin-top: 15px;
    }
/* ViewImage Page Buttons */
    #btn-edit {
        border: solid 1px rgb(65, 103, 146);
        margin: 0 10px 0 0;
    }
    #btn-edit:hover {
        background-color: rgb(65, 103, 146);
        color: white;
        scale: 1.1;
    }
    #btn-delete {
        border: solid 1px rgb(194, 59, 59);
        margin: 0 10px 0 0;
    }
    #btn-delete:hover {
        background-color: rgb(194, 59, 59);
        color: white;
        scale: 1.1;
    }
/* Profile Page */
    .profile_content {
        width: 80%;
        margin: 0 auto;
    }
    .uploaded_images {
        margin: 20px 0 0 0;
    }
    .uploaded_images .card a:hover {
        filter: blur(1px);
    }
    .uploaded_images .card #search_image_stats span {
        margin: 0 auto;
    }
    .profile_actions {
        margin: 20px 0 0 0;
    }
    #confirmationBox {
        display: none;
    }
/* Upload Page */
    .upload_content {
        width: 80%;
        margin: 0 auto;
    }
    .upload_content .card input{
        margin: 0 0 10px 0;
    }
    .upload_content .card textarea{
        margin: 0 0 10px 0;
    }
    .upload_content .card select{
        margin: 10px 0 10px 0;
    }
/* Signup Page */
    .signup_form {
        padding: 50px;
        width: 40%;
        margin: 0 auto;
    }
/* Login Page */
    .login_form {
        padding: 50px;
        width: 40%;
        margin: 0 auto;
    }
/* Admin Panel Page */
    .admin_sidenav {
        background-color: rgb(65, 103, 146);
        width: 15%;
        height: 100vh;
    }
    .admin_sidenav .sidenav_item {
        width: 100%;
        min-height: 50px;
        margin: 15px 0 15px 0;
        text-align: center;
        color: white;
        font-size: 18px;
    }
    .admin_sidenav .sidenav_item a {
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
    }
    .admin_sidenav .sidenav_item:hover {
        background-color: rgb(82, 127, 179);
    }
    .admin_sidenav .sidenav_item nav {
        width: 100%;
        height: 100%;
    }
    .admin_content {
        width: 100%;
        height: 100vh;
    }
    .admin_content .card {
        margin: 0 auto;
        width: 80%;
        max-height: 75vh;
    }
    .admin_content #admin-tab {
        margin: 0 auto;
        width: 80%;
    }
    .admin_content #admin-tab .nav-link {
        background-color: rgb(82, 127, 179);
        color: white;
    }
    .admin_content #admin-tab .nav-link:hover {
        background-color: rgb(101, 152, 209);
    }
    .admin_content #admin-tabContent {
        padding: 20px;
        width: 100%;
    }
    .admin_content #admin_categories_table {
        padding: 15px;
    }
    #admin_categories_buttons {
        width: 100%;
    }
    #admin_categories_buttons input {
        width: 40%;
    }
    .admin_content #logs_table {
        padding: 15px;
    }
    .admin_content #logs_table table {
        table-layout: fixed;
    }
.formError {
    display: none;
    color: red;
}
.alert {
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 500px) {
    .search_sidenav {
        width: 50%;
    }
    .search_sidenav .sidenav_item {
        min-height: 40px;
        font-size: 15px;
    }
    .search_sidenav #search_name input {
        font-size: 10px;
    }
    .search_sidenav #search_slider {
        font-size: 15px;
    }
    .search_sidenav #search_category {
        font-size: 15px;
    }
    /* Viewimage page buttons */
    #btn-edit {
        font-size: 12px;
        max-width: 25%;
    }
    #btn-delete {
        font-size: 12px;
        max-width: 25%;
    }
    
}